{% macro driverCard(driver) %}
<div class='driver'>
	<img 
		loading='lazy'
		alt='Portrait of {{ driver.name }}'
		src='{{ driver.imgSrc }}'
	>
	<div class='name'>
		{{ driver.name }}
	</div>
	<div class='team'>
		{{ driver.team }}
	</div>
	<div class='points'>
		{{ driver.points }} points
	</div>
</div>
{% endmacro %}
