---
layout: layouts/base
---

{% for standing in standings %}
	<h1>{{ standing.name }}</h1>
	<h3>{{ standing.points }} points</h3>
	<ol>
		{% for driver in standing.drivers %}
			<li>{{ driver.name }} ({{ driver.team }})</li>
		{% endfor %}
	</ol>
{% endfor %}
